body{
    text-align: center;
    margin: 0;
    font-size: 22px;
}

.header img{
    height: 80px;
}

.hero{
    background-color: rgb(36, 36, 78);
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 36, 78) ;
    align-items: center;
    width: 66%;
    padding: 30px 0;
    }


ul{
    list-style-type: none;
    display:flex;
    gap: 16px;
    font-size: 20px;
    }

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.introduction{
    display: flex;
    background-color: rgb(36, 36, 78) ;
    padding: 40px 0;
    gap: 100px;
    justify-content: center;
    align-items: center;
    
}

.intro-left{
    color:rgb(255, 255, 255);
    text-align: left;
    height: 400px;
    
}

.intro-left,.intro-right{
    max-width: 30%;
}

.introduction button{
    background-color: rgb(76, 112, 231);
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    padding: 10px;
    margin-top: 15px;
    width: 150px;
    border-radius: 10px;
}


.employees{
    padding: 45px 0;
}
.display{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

.display img{
    border: 2px solid rgb(76, 112, 231);
    border-radius: 25px;
    min-height: 180px;
}

.info{
    max-width: 250px;
}

.text{
    font-size: 18px !important;
    max-width: 230px;
}

.quote-container{
    background-color: rgb(220,220,220);
}

.quote{
    margin: auto;
    padding: 50px 20% 10px 20%;
    font-size: 34px;
    text-align: left !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.author{
    text-align: center !important;
    font-size: 30px;
    padding-bottom: 60px;
    padding-left: 250px;
}

.cta{
    display: flex;
    justify-content: center;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    max-width: 90%;
    margin: 100px;
    padding: 10px 30px;
    background-color: rgb(76, 112, 231);
    border-radius: 10px;
}

.modal button{
    background-color: rgb(76, 112, 231);
    border: none;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
}
.modal-left{
    text-align: left;
    max-width: 60%;
    color: white;
    padding: 25px;
}

.modal-left h4, p {
    padding: 0;
    margin: 0;
}

footer{
    background-color: rgb(36, 36, 78);
    padding: 15px;
    color: white
}

footer a{
    color: violet;
}
